# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
dist
dist-ssr

# Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Gemini & System
.gemini
.loki
brain/
skills/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
