# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
dist
dist-ssr

# Secrets
.env
.env.local
.env.prod
.env.production
.env.development.local
.env.test.local
.env.production.local
*.env*

# Gemini & System
.gemini
.loki
brain/
# skills/ - Removed from ignore to allow generate.py/overlay.py on Vercel

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel
.env*.local
